div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.updateStyles {
    text-align: center;
    background-color: #333;
    color: yellow;
    font-size: 21px;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
    width: 700px;
}

.itelicText {
    font-style: italic;
}

.letterFormat {
    text-transform: uppercase;
}

input {
    width: 200px;
    height: 30px;
    font-size: 1input5px;
}

input.txt {
    text-decoration: underline;
    background-color: #333;
    color: white;
}

.lightMode {
    background-color: white;
    color: black;
}

.darkMode {
    background-color: black;
    color: white;
}

.box {
    width: 40%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 9px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

button {
    background-color: rgb(81, 89, 80);
    position: relative;
    top: -6px;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(120, 128, 119);
}

form {
    width: 280px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    margin-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    .form-group {
        margin-bottom: 20px;

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 3px #ddd;
        }
        button{
            width: 100%;
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            display: block;
        }
    }
}