<h1 (dblclick)="incrementDoubleClick()">Increment On Double Click - {{counterDoubleClick}}</h1>
<h1 (mouseover)="incrementMouseOver()">Increment On Mouse Over - {{counterMouseOver}}</h1>
<h1 (mouseleave)="incrementDoubleClick()">Increment On Mouse Leave - {{counterDoubleClick}}</h1>
<h1 (mousedown)="incrementMouseOver()">Increment On Mouse Down - {{counterMouseOver}}</h1>
<h1 (mouseup)="incrementDoubleClick()">Increment On Mouse Up - {{counterDoubleClick}}</h1>
<h1 (darg)="incrementMouseOver()">Increment On Mouse Drag - {{counterMouseOver}}</h1>
<h1 (dragover)="incrementDoubleClick()">Increment On Mouse Drag Over - {{counterDoubleClick}}</h1>