.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

.toggle-btn {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 0;
}

.toggle-btn:hover {
  background-color: #0056b3;
}

.content-box {
  margin-top: 80px;
  padding: 15px;
  max-width: 600px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.485);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}




div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
ul {
  display: inline-flex;
  list-style-type: none;
  padding: 15px;
  margin: 10px;
  max-width: 120px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
ul:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
li {
  font-size: 1.2rem;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
@media (max-width: 600px) {
  ul {
    max-width: 100%;
  }
}
